<div class="container">
<div class="card" style="width: 100%; background-color:white">
  <div class="card-body">
    <h3 class="card-title" style="color:black">CONTACT NYALA</h3>
    <hr>
    <p class="card-text" style="color:black">There are many ways to contact us. Please have a look at the options below, and select the option that best suits you. </p>
  </div>
</div>
<br><br>
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 17rem;">
  <img src="https://www.macworld.co.uk/cmsdata/features/3688699/how-to-use-iphone-gestures-main_thumb800.png" class="card-img-top" alt="..." width="500" height="200">
  <div class="card-body">
    <p class="card-text" style="color: black">Contact us by phone by dialing 0800-0000-000. Please note, due to the challenging times we're all facing during the ongoing pandemic, we're dealing with a much greater number of calls as usual. Hence, our call times may be much longer than normal so we ask that you only call if your enquiry is urgent.               <br><br></p>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <img src="https://s.wsj.net/public/resources/images/FN-AD982_FN_CWH_M_20180621115904.jpg" class="card-img-top" alt="..." width="500" height="200">
  <div class="card-body">
    <p class="card-text" style="color: black">Most of our branches remain open as of now, but occasionally the opening hours may vary. During your visit, social distancing measures are in place to help keep us all safe. You'll be required to wear a face mask unless you are unable to do so. We're helping our customers as quick as we can, but we may ask you to queue outside if things start to get busy. </p>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 17rem;">
  <img src="https://media.sproutsocial.com/uploads/2017/11/Social-Media-Ideas.png" class="card-img-top" alt="..." width="500" height="200">
  <div class="card-body">
    <p class="card-text" style="color: black">The quickest way to speak to us directly is through our genuine social network accounts with verfified badges. Our team will be available to speak to here 24/7! We'll never ask for your banking passcodes or PINS, please be aware of false accounts imitating us under similar names. <br><br><br></p>
  </div>
</div>
    </div>
  </div>
  <br>
  <br>
  <div class="card" style="width: 100%">
    <div class="accordion" id="accordionExample"><br>
      <h3 class="card-title" style="color:black">Frequently Asked Questions</h3><br>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h3 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="text-decoration:none; color:black">
          How do I check my balance?
        </button>
      </h3>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p style="color: black">You can check your balance by logging into our online banking site. Here you'll be able to see your balance on an account card you have with us.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h3 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration:none; color:black">
          How do I pay someone new?
        </button>
      </h3>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p style="color: black">Simply log into your online banking account and enter your payees details on the transactions page. You'll then be able to send them an amount upto your total balance.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h3 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="text-decoration:none; color:black">
          What if I don't recognise a transaction on my account?
        </button>
      </h3>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <p style="color: black">We're here to help if you notice a suspicious payment. There's usually a number of common reasons for this such as a company you know may be trading under a different name. It could also be a regular payment or a free trial has ended and charged you. If you still don't recognise it, please contact us ASAP!
        </p>
      </div>
    </div>
  </div>
</div>
      </div>

  </div>
  <br><br>
